

.btn-primary, .links{

    padding: 15px;
    font-size: 1.2em;
    text-align: center;
    font-family: futura Md MT;
    border: none;
    outline: none;
    width: 200px;
    color: #fff; 
    transition: 0.3s;
} 

.list{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    margin-top: 15px;

}

.newlist{
    transform: scaleY(1);

}

.links{
    background-color: #283c63;
}

.links:hover{
    background-color: #01579B;
    transform: scale(1.1);
}